<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/Week_05/Lecture_02/CodeAlong/CodeAlong_Diamonds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports

In [ ]:
# Load in the data

In [ ]:
# Take a look at the first five rows of the dataframe

In [ ]:
# Look at the info from the data

In [ ]:
# Check to see if there are any duplicates

In [ ]:
# split X and y, you are predicting price


# split training and test
# set random_state to 42 for reproducibility

In [ ]:
# instantiate the column selectors

In [ ]:
#instantiate the standard scaler, OneHotEncoder and Imputers

In [ ]:
# Setup the pipelines for the numeric and categorical data

In [ ]:
# Setup the tuples to pair the processors with the make column selecotrs

In [ ]:
# Instantiate the make column transformer

In [ ]:
# Fit the column transformer on the X_train

In [ ]:
# Get out the column transformer steps

In [ ]:
# Reference the pipeline that has the one hot encoder

In [ ]:
# Display the feature names out from the one hot encoder

In [ ]:
# Extract the feature names from one hot encoder

In [ ]:
## get final col names which are num features + cat features

In [ ]:
# Transform the X_train and the X_test

In [ ]:
# Change the X_train and X_test transformed columns to a dataframe

In [ ]:
# View the first five rows of the X_train transformed dataframe

In [ ]:
# View the first five rows of the X_test transformed dataframe

In [ ]:
# View the info from the X_train transformed dataframe

In [ ]:
# View the info from the X_test transformed dataframe