<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/Week_06/Lecture_01/Challenge/PreClass-Challenge_Regression_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# From data to model

In this notebook we will take a dataset and prepare it, train a model, and make a prediction.

Steps
1. Load and inspect the data
2. Clean the data
3. Split the data
4. Pre-process the data
5. Model the Data and Evaluate the Model

Import Libraries

In [ ]:
# Imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn import set_config

Load Data

You can download the data [here](https://drive.google.com/file/d/1BE4DAABG45aEga4AQeB-9DuTsRWpz46A/view?usp=sharing), which is adapted from data.world.

**Data Dictionary:**

**Attribute** | **Description**  
--- | ---
model | model of the car
price | price car last sold for
transmission | transmission type: Automatic or Manual
mileage | current mileage of the car
fuelType | fuel type the car runs on
tax | tax paid on car at last sale
mpg | miles per gallon of car (target)
engineSize | size of engine in cubic litres

In [ ]:
# Load Data
path = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vS2dIT3WEj2j4nSpai7K0wSCwFc_hQBYQR6Xf10VtnyI64EItM9SWxN1UFU_XhrkWdUp6ayrUOoJSgY/pub?output=csv'
df = pd.read_csv(path)
df.head()

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0       SLK  2005   5200    Automatic    63000   Petrol  325  32.1         1.8
1   S Class  2017  34948    Automatic    27000   Hybrid   20  61.4         2.1
2  SL CLASS  2016  49948    Automatic     6200   Petrol  555  28.0         5.5
3   G Class  2016  61948    Automatic    16000   Petrol  325  30.4         4.0
4   G Class  2016  73948    Automatic     4000   Petrol  325  30.1         4.0

In [ ]:
df.shape

(13119, 9)

# 2. Clean the Data

### Check for duplicates

If there are duplicates, drop them.

Check out the datatypes and missing data.

Inpect the unique values of the categorical columns

When we one-hot encode this data there will a column for each one of the above categories with a value for each car of 0 or 1.

# 3. Split the Data

We want to predict the mpg of the car, so that will be our `y` variable.  The rest of the columns are the features our model will use to make that prediction, so those are the `X` variable.

In [ ]:
# split X and y


# split training and test
# set random_state to 42 for reproducibility

# 4. Prepare the Data

### ColumnSelector

Remember that we only want to one-hot encode our categorical variables, but not our numeric ones.  We are going to use the OneHotEncoder transformer from sklearn, but that class cannot automatically decide which columns to encode.  After all, maybe we want to encode some integer columns because they are actually nominal categories.  

We could make a list of all of the categorical columns to encode.  That sounds like a lot of work, so let's let Python do it for us.

We can use the sklearn ColumnSelector class to return a list of names of a particular type.  We will use this to return the categorical columns.

In [ ]:
# instantiate the column selectors

### OneHotEncoder

sklearn includes a class for one-hot encoding nominal variables.  However, we ONLY want to use it on the categorical columns.  If we use it on numeric variables then we will end up with a separate column for each different value in that column (which would be a lot!) and the model will not consider that column as a numeric variable.

* We also want to make sure that OneHotEncoder returns a dense array, rather than a compressed kind of array called a 'sparse array', so we set `sparse=False`.

* We also want it to ignore any categories in the test data that it doesn't see in the training data, so we set `handle_unkown = 'ignore'`.  Otherwise it will give us an error if there is a category in the test set that it didn't see in the training set.  This could be a problem if we put this model into a production environment where it is making predictions on new data!

In [ ]:
#instantiate the Standard Scaler and OneHotEncoder

# Setup Tuples

We will create a tuple for the standard scaler and the numeric column selector and a categorical tuple for the one hot encoder and the categorical column selector.

### ColumnTransformer

sklearn has another class that allows us to apply certain preprocessing steps, such as imputers, scalers, or encoders, to certain columns and not others.  This is much easier than splitting them up by hand and joining them again after processing.

ColumnTransformer takes a list of tuples.  The columns can be a list of columns, or it can be a ColumnSelector class object like we made above.

By default it won't include any columns that haven't been selected, so we have to set `remainder='passthrough'`

# 5. Model the Data and Evaluate the Model
#### Baseline Model
Define a baseline model using the 'mean' strategy.
Put your Columntransformer and the baseline model into a pipeline.
Fit your pipe onto the training data.

### Define a function 
Define a function that takes true and predicted values as arguments and prints all 4 metrics

In [ ]:
# define a function that takes true and predicted values as arguments
# and prints all 4 metrics

In [ ]:
# find MAE, MSE, RMSE and R2 on the baseline model for both the train and test data

### Linear Regression Model with Pipeline
Instantiate a linear regression model.Put your ColumnTransformer and linear regression model into a pipeline. Fit your pipe on the training data.

In [ ]:
# instantiate a linear regression model
# put your ColumnTransformer and linear regression model into a pipeline
# fit your pipe on the training data

In [ ]:
# find MAE, MSE, RMSE and R2 on the linear regression model for both the train and test data