<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/Week_06/Lecture_01/CodeAlong/PreClass-CodeAlong_Regression_Metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# Regression - Metrics


*Make a copy of this notebook to edit!*

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.searchenginejournal.com%2Fwp-content%2Fuploads%2F2020%2F08%2Fcopy-the-colab-notebook-to-your-google-drive-5f2579179f746.jpg&f=1&nofb=1" alt="Make a copy" class="center" height="300">

</center>

## Task

Your task is to build the best model possible using [this dataset](https://docs.google.com/spreadsheets/d/1JCXULApcqesUDbAzKFYGAWvphWx0K36J0bGyiniprWw/edit?usp=sharing). Your goal is to predict the price of the houses using various information. Use linear regression to make predictions and evaluate your model.  Be sure to develop a baseline using the mean of your training y values.  Find the MAE, MSE, RMSE, and R2.

The data given is from Kaggle(https://www.kaggle.com/harlfoxem/housesalesprediction) and was scraped from the [King County government website](https://data.kingcounty.gov/)

In [ ]:
# imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_selector, make_column_transformer

In [ ]:
# load the dataset, you can assume this data is already cleaned.
path = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vR33clYD7L7KarKwDrJr1GzW7GQRbTIzITBBHA7J-luNwIJylRrQR74p_k6AHJE-OfI5y3L2KmFIWo7/pub?output=csv'
df = pd.read_csv(path)
df.head()

    price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0  221900         3       1.00  ... -122.257           1340        5650
1  538000         3       2.25  ... -122.319           1690        7639
2  180000         2       1.00  ... -122.233           2720        8062
3  604000         4       3.00  ... -122.393           1360        5000
4  510000         3       2.00  ... -122.045           1800        7503

[5 rows x 19 columns]

In [ ]:
# the 'zipcode' column is a nominal categorical variable  
# convert the datatype of 'zipcode' to 'object'

In [ ]:
# assign 'price' to y and other features to X

In [ ]:
# split into training and test sets

In [ ]:
# create one-hot encode the categorical columns (zipcode) and scale the numeric columns
# Use 2 preprocessing pipelines, one for numeric and one for categorical
# Combine the pipelines in a ColumnTransformer with the appropriate column selectors

In [ ]:
# instantiate a baseline model using the 'mean' strategy
# put your ColumnTransformer and the baseline model into a pipeline
# fit your pipe onto the training data

In [ ]:
# define a function that takes true and predicted values as arguments
# and prints all 4 metrics

In [ ]:
# find MAE, MSE, RMSE and R2 on the baseline model for both the train and test data

In [ ]:
# instantiate a linear regression model
# put your ColumnTransformer and linear regression model into a pipeline
# fit your pipe on the training data

In [ ]:
# find MAE, MSE, RMSE, and R2 of the linear regreesion model on both train and test data

# Evaluate:

* What does your model's MAE score mean in the context of this dataset?
* What does the MSE score mean?
* What does the RMSE score mean?
* How about the R^2?

# BONUS!

* Is your model overfit?  How do you know?