<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/Week_02/Lecture_02/01_24_22_Week_2%2C_Day_2_Class_Notebook_Data_Cleaning%2BEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# Data Cleaning

*Make a copy of this notebook to edit!*
```
File > Save a copy in Drive
```

We will use data on the Super Bowls. You can download the data [here](https://drive.google.com/file/d/1kWqIFO9LgVlMsYG9M9boRKCFiizpUB5o/view?usp=sharing).

</center>

**Why do we need to clean our data?**

> Garbage in, garbage out.

> Quality data beats fancy algorithms.

Overall, incorrect data is either removed, corrected, or imputed. ([*source*](https://towardsdatascience.com/the-ultimate-guide-to-data-cleaning-3969843991d4))

~~**Mount Data**~~ 
- Use the filr URL below instead of mounting google drive.

In [ ]:
file_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSAwjsA-rwGlz_Bb0yIgC13scmhxQCjayvh-sp0v3lRMxejeem8ntBBcDpr4xbNNMiGzB8VGPKJzGJv/pub?output=csv"

**Import Libraries**

In [ ]:
# Imports
import pandas as pd
import numpy as np

**Load Data & view first 5 rows**

In [ ]:
# Load Data
sb = pd.read_csv(file_url)   
sb.head() #Always view your dataframe so you know it loaded correctly.

## Irrelevant data

Irrelevant data is information that is unnecessary or unrelated to our task.

Typically, we want to remove this data - but **only if you are absolutely sure it is irrelevant**. When in doubt, consult a subject matter expert.

**What column seems unnecessary in this dataset? Drop it.**

## Duplicate data

It is common that your data has data points that are repeated. Duplicates should be removed.

**Check for and remove any duplicates in this data.**

## Data types

You want your data to all be correct data types. There may be errors in your data causing numeric types to be read in as objects or dates that need to be converted to datetime objects. Additionally, we may want to convert our categorical variables to numbers.

**Check the datatypes & validate that they are what they should be. The `Date` column should be a DateTime type - fix this using `pd.to_datetime()` if is not the case!**

Pandas is usually pretty good at converting date times.  However, when the year is 2 digits it can be ambiguous and Pandas may choose the wrong century.   

Check if this happened and if so, fix it.  Don't forget the `df.loc()` method.

You may have to convert it to a datetime again.

## Syntax or spelling errors

Common syntax errors include extra white spaces at the beginning or end of strings or column names.

There may also be typos or inconsistencies in strings that need to be fixed. For example, if a state name is spelled out in one row and the abbreviation is used in another, we need to ensure consistency.

**Check for any inconsistencies in the strings of the `State` column and fix them.**

Don't forget the `df.replace()` method

## Unit inconsistencies

If measurements within or between columns are measured in different units (for example, km vs. miles or cm vs. feet and inches), we should ensure consistency in the data. The same issue may arrise with dates if some of the dates are in MM-DD-YYYY format and others are in DD-MM-YY format.

**Check for any unit inconsistencies.**

*Hint:* There don't appear to be any unit inconsistencies in this dataset. Look at the values of a few columns to validate this for yourself.

## Missing values

Missing values are very common and problematic in our data. There is no one right way to handle missing data. A few strategies include:
- Drop
- Impute

### Dropping missing values

If there are not very many missing values and they are missing completely at random, the fastest and easiest solution is to drop the rows with missing values.

Similarly, if most of a column is missing and the data is missing completely at random, it may be okay to drop the entire column

### Imputing missing values

Imputing means filling in the missing values based on some criterion. There are many methods to do this:
- Simple imputation including mean, median, or mode, or a specific constant value.

### Make sure to explain why you chose the method you did in a text cell.

**Check for missing data. Determine the best way to deal with this.**

## Outliers

Outliers are values that are extremely higher or lower than all of the other values in that feature. In general, outliers should not be removed unless you have reason to believe it is an error in the dataset. It is important to investigate outliers, as some models are very sensitive to outliers.

**Check for outliers in the numeric columns using df.describe().**

# Exploratory Data Analysis - Questions to Answer

- For each question, display on the columns required to answer the question.

### Q1. Which 3 Superbowl #'s/years had the largest attendance?

- A1:


### Q2. Which Stadiums hosted the Superbowl with the largest attendance?

- A2:

### Q3: What city has hosted the most of superbowls? How many?

- A3:

### Q4: Of all of the superbowls hosted in the city from Q3, which SB # had the lowest attendance?

- A4:

### Q5: What is the average point difference between teams, for each City? Which city has the highest average Point Difference?

- A5: